<!-- Обратиться к нам -->
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="upsell"> <small class="muted">Доставка 300 рублей <span class="spacer">//</span> Гарантия качества <span class="spacer">//</span> 24/7 поддержка <span class="spacer">//</span> Доступные цены <span class="spacer">//</span> </small> <a href="pricing.html" class="btn btn-primary">Обратись к нам сейчас! <i class="icon-arrow-right"></i></a> </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span3 col">
        <div class="block contact-block"> 
          <!--@todo: replace with company contact details-->
          <h3>Наши контакты</h3>
          <address>
          <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 414-89-19</p>
          <p><abbr title="Email"><i class="icon-envelope"></i></abbr> info@infotechcom.ru</p>
          <p><abbr title="Address"><i class="icon-home"></i></abbr> г. Нижний Новгород, ул. Бекетова, 15, оф. 4</p>
          </address>
        </div>
      </div>
      <div class="span5 col">
        <div class="block">
          <h3>О нас</h3>
          <p>Мы строили, строили и, наконец, построили. Ура! До марта осталось 3 месяца.</p>
        </div>
      </div>
      <div class="span4 col">
        <div class="block newsletter">
          <h3>Комерческое предложение</h3>
          <p>Получите наше коммерческое предложение.</p>
          <!--@todo: replace with mailchimp code-->
          <form class="form-inline" />
            <div class="input-append">
              <input class="input-medium" type="text" placeholder="Ваш Email" />
              <button class="btn btn-primary" type="button">Отправить!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="toplink"><a href="#top" class="top-link" title="Наверх">Наверх <i class="icon-chevron-up"></i></a></div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Разработка сайта <a href="http://infotechcom.ru" target="blank">ООО "Инфоком-НН"</a> | Copyright 2013 &copy; ООО "Инфоком-НН"</p>
        </div>
        <div class="span6">
          <ul class="inline pull-right">
            <li><a href="#">Договор</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>