<div class="row-fluid"> 
  <!-- Plan features -->
  <div class="well well-mini pull-center">
    <h4 class="inline-el pad-right"><span>Все услуги <span class="de-em">Включают</span>:</span></h4>
    <p class="inline-el pad-left muted">Гарантию возврата денег в течении 90 дней <span class="spacer">//</span> 24/7 поддержку <span class="spacer">//</span> Доставку ремонтируемой техники по 300 руб. в пределах города </p>
  </div>
</div>