<div class="block testimonials margin-top-large">
  <h2 class="title-divider"><span>Отзывы <span class="de-em">Клиентов</span></span> <small>99% наших клиентов рекомендуют нас друзьям!</small></h2>
  <div class="row-fluid">
    <div class="span4">
      <blockquote>
        <p>"Они что-то сделали и теперь не работает ничего!"</p>
        <small><img src="/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle" /> Иван Абрамович <span class="spacer">/</span> <a href="#">@mrivan</a></small> </blockquote>
    </div>
    <div class="span4">
      <blockquote>
        <p>"Уважуха. Всё чётко! Парни, молодчики. Даже семок отсыпали."</p>
        <small><img src="/team/jobs.jpg" alt="Jimi Bloggs" class="img-circle" /> Не Джобс <span class="spacer">/</span> <a href="#">Разработчик Apple</a></small> </blockquote>
    </div>
    <div class="span4">
      <blockquote>
        <p>"Теперь я могу ходить! Потрясающе, спасибо вам!!!"</p>
        <small><img src="/team/adele.jpg" alt="Adele Bloggs" class="img-circle" /> Охранник с Бекетова <span class="spacer">/</span> <a href="#">@iamadele</a></small> </blockquote>
    </div>
  </div>
</div>