<div class="block">

  <div class="row pricing-stack">
    <div class="span3">
      <div class="well">
        <h3 class="title">Замена матрицы</h3>
        <p class="price"><span class="fancy">50 000 руб.</span></p>
        <ul class="unstyled points">
          <li>Любой ноутбук</li>
          <li>Срок доставки не более 300-х дней</li>
          <li>Гарантия отсутствует</li>
          <li>Может быть будет работать</li>
        </ul>
        <a class="btn btn-primary" href="/services/matrice.html">Заказать</a> </div>
    </div>
    <div class="span3">
      <div class="well active">
        <h3 class="title"><span class="em">Очистка</span> <span class="fancy">Охлаждения</span></h3>
        <p class="price"><span class="digits">10 000</span> <span class="currency">руб.</span> </p>
        <ul class="unstyled points">
          <li>Диагностика</li>
          <li>Разборка</li>
          <li>Очистка</li>
          <li>Сборка</li>
        </ul>
        <a class="btn btn-primary">Заказать</a> </div>
    </div>
    <div class="span3">
      <div class="well active">
        <h3 class="title"><span class="em">Диагностика</span> <span class="fancy">Неисправностей</span></h3>
        <p class="price"><span class="digits">5 000</span> <span class="currency">руб.</span></p>
        <ul class="unstyled points">
          <li>Посмотрим</li>
          <li>Включим</li>
          <li>Выпьем чай</li>
          <li>Выключим</li>
        </ul>
        <a class="btn btn-primary">Заказать</a> </div>
    </div>
    <div class="span3">
      <div class="well">
        <h3 class="title">Установка <span class="fancy">Windows</span></h3>
        <p class="price"> <span class="digits">1 999</span> <span class="currency">руб.</span></p>
        <ul class="unstyled points">
          <li>Как всегда</li>
          <li>И ещё раз</li>
          <li>Очень здорово</li>
          <li>Не работает</li>
        </ul>
        <a class="btn btn-primary">Заказать</a> </div>
    </div>
  </div>
</div>