<% provide(:title, 'Замена матрицы ноутбука') %>

<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2 class="title-divider"><span>Замена матрицы <span class="de-em">Ноутбука</span></span> <small><a href="/services.html"><i class="icon-arrow-left"></i> Вернуться к списку услуг</a></small></h2>
    </div>
    <div class="row"> 
      
      <!--Main Content-->
      <div class="span9 blog-post"> 
        
        <!-- Blog post -->
        <div class="media row-fluid">

          <div class="span12">
            <div class="media-body">
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Mon 7th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Erin</a></li>
              </ul>
              <div class="media-object"> <img src="/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" /> </div>
              <p class="lead">Матрица - экран ноутбука, его монитор. Я не побоюсь этого слова - дисплей!</p>
              <p>Montes cursus, turpis scelerisque adipiscing vel in. Ultrices platea ridiculus nascetur vut aliquet odio vel placerat! A, ultricies augue turpis scelerisque, porta diam ac! Pulvinar pulvinar enim odio enim dictumst, amet lorem aliquet ut rhoncus! Nisi. Ut aliquet non tincidunt, sit proin. Vel egestas, urna non tincidunt tincidunt, ultricies et vut placerat dis ac porttitor, in, facilisis. Etiam?</p>
              <p>Egestas scelerisque, vel auctor rhoncus. Urna penatibus, velit dis, non parturient scelerisque ac tempor a enim? Aenean? Urna dictumst, enim nec odio, turpis. Magnis tempor mus, egestas integer sit eu eu lectus vel. Hac lorem aliquet nec mattis, purus parturient in pulvinar nascetur aliquam! Sed cursus? Pid, nec eros quis, tincidunt odio pellentesque integer, porta, nunc? Duis aenean! In tortor risus enim.</p>
              <p>Sed elit ac? Vel parturient magna placerat non etiam.</p>
            </div>
          </div>
        </div>
        
        <!--Comments-->
                <h2 class="title-divider"><span>Сделать <span class="de-em">Заказ</span></span> <small>Отправьте свой заказ и наш менеджер свяжется с Вами</small></h2>
          <div class="comment-form">
            <form id="comment-form" />
              <fieldset>
                <input type="text" class="input-block-level" placeholder="Имя" />
                <br />
                <input type="text" class="input-block-level" placeholder="Телефон" />
                <br />
                <textarea rows="8" class="input-block-level" placeholder="Опишите вашу проблему"></textarea>

                <button type="submit" class="btn btn-primary">Отправить заказ</button>
              </fieldset>
            </form>
          </div>
      </div>
      
      <!--Sidebar-->
        <%= render "/shared/rightmenu" %>
    </div>
  </div>
</div>